PORT=3000

LOG_FORMAT=dev

DATABASE_DRIVER=mongodb

DATABASE_URL=mongodb://127.0.0.1:27017/afisha

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=afisha
DATABASE_USERNAME=student
DATABASE_PASSWORD=student
